@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family:"Quicksand" ,sans-serif;
    }
    #logo{
        font-family:"Poppins" ,sans-serif;
    }
    .font-card{
        font-family:"Roboto" ,sans-serif;
    }
}

@layer components{
    .primary{
        @apply bg-[#343353] text-white
    }
    .text-primary{
        @apply text-[#343353]
    }

    .card{
        @apply rounded-lg md:p-10 shadow-lg
    }
}